.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 3px solid var(--poke-red);
  justify-content: center;
  align-items: center;
  background: var(--poke-charcoal);
  color: var(--poke-white);

  @media screen and (max-width: 768px) {
    font-size: 0.85rem;
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 0;
    font-weight: 400;
    opacity: 0.9;
  }
}
