.notFound {
  margin-top: 2rem;
  font-size: 1.1rem;
  color: var(--poke-grey);
}

.container {
  width: 100%;
  max-width: 900px;
  padding-top: 2rem;

  .list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
