.search {
  position: relative;
  margin-top: 2rem;

  &__bar {
    position: relative;
    background-color: #f5f8fa;
    border: 1px solid #cbd6e2;
    border-radius: 3px;
    min-height: 27px;
    height: 40px;
    padding: 0 1rem 0 2.5rem;
    color: #33475b;

    &:focus {
      outline: none;
      border-color: rgba(72, 61, 139, 0.8);
    }
  }

  &__icon {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    opacity: 0.6;
  }
}
