.header {
  $el: &;
  position: fixed;
  background: var(--poke-red);
  z-index: 1996;
  width: 100%;
  box-shadow: 0 4px 12px rgba(220, 10, 45, 0.3);

  &__open {
    #{$el}__content {
      .menu {
        display: flex;
        background: var(--poke-red);
      }

      #{$el}__icon {
        span:nth-child(1) {
          top: 18px;
          width: 0%;
          left: 50%;
        }
        span:nth-child(2) {
          transform: rotate(45deg);
        }
        span:nth-child(3) {
          transform: rotate(-45deg);
        }
        span:nth-child(4) {
          top: 18px;
          width: 0%;
          left: 50%;
        }
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 1rem 1.875rem;

    .brand {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &__link {
        font-family: 'Press Start 2P', cursive;
        font-size: 0.85rem;
        color: var(--poke-yellow);
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
        letter-spacing: -0.5px;

        @media screen and (max-width: 768px) {
          font-size: 0.75rem;
        }
      }
    }

    .menu {
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100vw;
      background: var(--poke-red);

      @media screen and (min-width: 768px) {
        display: flex;
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
      }

      &__list {
        display: flex;
        flex-direction: column;
        width: 100%;

        @media screen and (min-width: 768px) {
          flex-direction: row;
        }
      }

      &__item {
        padding: 0 1.25rem;
      }

      &__link {
        color: var(--poke-white);
        font-weight: 600;
        font-size: 0.95rem;
        letter-spacing: 0.5px;
        transition: all 0.3s ease;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          bottom: -4px;
          left: 0;
          width: 0;
          height: 2px;
          background: var(--poke-yellow);
          transition: width 0.3s ease;
        }

        &:hover::after {
          width: 100%;
        }

        @media screen and (max-width: 768px) {
          display: block;
          padding: 0.625rem 0;
          text-align: center;
          width: 100%;
          color: var(--poke-white);
        }
      }
    }

    #{$el}__icon {
      display: flex;
      position: relative;
      width: 60px;
      height: 45px;
      transform: rotate(0deg) scale(0.6);
      transition: 0.5s ease-in-out;
      cursor: pointer;
      background: none;
      border: none;

      @media screen and (min-width: 768px) {
        display: none;
      }

      span {
        display: block;
        position: absolute;
        height: 9px;
        width: 100%;
        background-color: var(--poke-white);
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;

        &:nth-child(1) {
          top: 0px;
        }
        &:nth-child(2),
        &:nth-child(3) {
          top: 18px;
        }
        &:nth-child(4) {
          top: 36px;
        }
      }
    }
  }
}
