.container {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

.main {
  padding: 6rem 0 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 768px) {
    padding-top: 8rem;
  }
}
