.title {
  font-family: "Press Start 2P", cursive;
  margin: 0;
  line-height: 1.4;
  font-size: 2rem;
  text-align: center;
  color: var(--poke-red);
  text-shadow: 2px 2px 0 var(--poke-yellow);
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background: var(--poke-red);
    margin: 1rem auto 0;
    border-radius: 2px;
  }

  @media screen and (max-width: 768px) {
    font-size: 1.3rem;
  }
}
