.title {
  font-family: "Press Start 2P", cursive;
  margin: 0;
  line-height: 1.4;
  font-size: 2rem;
  text-align: center;
  color: var(--poke-red);
  text-shadow: 2px 2px 0 var(--poke-yellow);

  @media screen and (max-width: 768px) {
    font-size: 1.3rem;
  }
}

.typesContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  max-width: 650px;
  font-size: 1rem;
  padding: 2rem 0;

  .typeList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1.2rem;
    width: 100%;

    li {
      width: 25%;

      @media screen and (max-width: 768px) {
        width: 33%;
      }

      .types {
        display: flex;
        justify-content: center;
      }
    }
  }
}
